<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            
            <a class="navbar-brand" href="/404">HOME!!1</a>  <!-- /blog/post -->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/404">Archives</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.container -->
	
	
	
</nav>
